*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Added by code-review-graph
.code-review-graph/

.kotlin/
build_output.txt
build_output2.txt
install2.txt
install_output.txt
